.crew-members {
    padding: 10px;
    .director {
        color: #a6a6a6;
    }
}

.no-img {
    width: 185px;
    height: 278px;
}

.cast-info {
    color: white;
    p {
        font-size: 13px;
    }
}