.movie-info-section {
    height: 70vh;
    width: 100%;
    background-size: cover;
    background-position: right top;
    z-index: -67;
    .row {
        align-items: center;
        margin-left: 0;
    }
}